{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You are not eligile to use the staff transfer service
      </h1>

      <h2 class="govuk-heading-m">Contact your vacancy holder</h2>
      <p class="govuk-body">
        The duration of your new loan is less than 6 months, so there will be no transfer of payroll between departments.
      </p>
      <p class="govuk-body">
        You should contact your vacancy holder about the next steps. Thier details should be provided in the job advert on <a href="#" class="govuk-link">civil service jobs</a>
      </p>

    </div>
  </div>

{% endblock %}
